@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="display:flex;align-items:center;flex-wrap:wrap;height:75vh;">
    <div class="col-md-4" style="flex:1;">
        <h1>NIKE AIR MAX PRO</h1>
        <p>
            A fashion of footwear that everyone wants!
        </p>
        <p style="margin-top:35px;"><a class="btn btn-default" href="/Image/Products">View Products</a></p>
    </div>

    <div class="col-md-3" style="flex:0.8;">
        <img src="~/img/shoe.png" style="width:100%;" />
    </div>
</div>
